nav.navbar {
    background-color: #050404;
}

.carousel-control
{
    background-color: gray;
    opacity: .4;
}

.carousel-control:hover
{
    background-color: gray;
    opacity: .5;
}

#mainNav,
#about,
.footer
{
    background-color: #003566 !important
}

.footer
{
    padding-bottom: 0;
}

#Mapa
{
  background-color: #FFFFFF !important
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
.portfolio .portfolio-item .portfolio-item-caption
{
    color: #fff;
    background-color: #ecb700;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover
{
     color: #fff;
    background-color: #ffd646;
}

#map
{
  height: 50vh;
  width:  100%;
}

@media only screen and (max-width: 768px)
{
    #map
    {
        height: 30vh;
        width:  100%;
    }
}

/* << Movil >>    */
